/*Main CSS*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
div.main-container {
  background-color: #bdc3c7;
  width: 90%;
  margin: auto;
}
h1 {
  color: #FFFFFF;
}
p.cursive {
  font-family: Courier, monospace;
}
section {
  padding: 20px;
}
.white-bkg {
  background-color: #FFFFFF;
}
div .circle {
  border-radius: 100%;
  display: none;
  text-align: center;
  color: #FFFFFF;
}
div#green_circ {
  width: 150px;
  height: 150px;
  background-color: #2ECC71;
}
div#orange_circ {
    height: 100px;
    width: 100px;
    background-color: #EC7E22;
}
div#blue_circ {
  height: 75px;
  width: 75px;
  background-color: #3498DB;
}
#ninja {
  background-color: transparent;
  height: 200px;
  margin-left: 20%;
}
section.dark-room {
background-color: #000000;
}
img.eyes-dark {
  display: inline;
  height: 300px;
}
div.switch-frame {
  background-color: #ecf0f1;
  height: 80px;
  width: 40px;

}
div.switch {
  position: absolute;
  width: 32px;
  height: 72px;
  margin: 4px;
  background-color: #DCE3E5;

}
div.switch p {
  font-size: smaller;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0px;
}
div.switch p:hover {
  color: #383838;
  font-weight: bold;
}
